* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* FF WEIGHT: 200 - 400 - 600 - 800  */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.innerWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
